.wrapper {
    position: relative;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.top {
    position: relative;
    border-radius: 4px;
    background: var(--Secondary, #f5f5f5);
    width: 270px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .add-to-cart-btn {
        position: absolute;
        bottom: -50px;
        opacity: 0;
        transition: bottom 0.3s ease, opacity 0.3s ease;
        right: 0;
        left: 0;
        background-color: #000;
    }

    &:hover .add-to-cart-btn {
        bottom: 0px;
        opacity: 1;
    }

    .sale {
        position: absolute;
        top: 12px;
        left: 12px;
        padding: 4px 12px;
        gap: 10px;
        border-radius: 4px;
        background: var(--Secondary-2, #db4444);
        color: var(--Text, #fafafa);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .intergrate-icon {
        position: absolute;
        top: 12px;
        right: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .heart {
            width: 3.4rem;
            height: 3.4rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .ellipse-icon {
                position: absolute;
            }
            .heart-icon {
                color: #fff;
                z-index: 10;
            }
        }

        .eye {
            width: 3.4rem;
            height: 3.4rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .ellipse-icon {
                position: absolute;
            }
            .eye-icon {
                z-index: 10;
            }
        }

        .trash {
            width: 3.4rem;
            height: 3.4rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .ellipse-icon {
                position: absolute;
            }
            .trash-icon {
                z-index: 10;
            }
        }
    }
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    .name {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    .price {
        display: flex;
        align-items: flex-start;
        gap: 12px;

        .price-final {
            color: var(--Secondary-2, #db4444);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }

        .price-pre {
            color: var(--Button, #000);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            text-decoration-line: line-through;
            opacity: 0.5;
        }
    }

    .evaluation {
        display: flex;
        align-items: flex-start;
        gap: 8px;

        .star-wrapper {
            display: flex;
            align-items: flex-start;
            gap: 2px;
        }

        span {
            color: var(--Text2, #000);
            opacity: 0.5;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 21px;
        }
    }
}
