.wrapper {
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.header {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.left {
    display: flex;
    align-items: flex-end;
    gap: 87px;
    .title {
        display: flex;
        height: 103px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .top {
        display: flex;
        align-items: center;
        gap: 16px;

        span {
            color: var(--Secondary-2, #db4444);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
        }
    }

    .title-detail {
        color: var(--Text2, #000);
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 1.44px;
    }

    .timer {
        width: 302px;
        height: 50px;
    }
}

// new arrival
.img-570x600 {
    width: 570px;
    height: 600px;
    border-radius: 4px;
    background: var(--Button, #000);

    img {
        display: block;
    }
}

.img-570x284 {
    width: 570px;
    height: 284px;
    border-radius: 4px;
    background: #0d0d0d;

    img {
        display: block;
    }
}

.img-270x284 {
    width: 270px;
    height: 284px;
    border-radius: 4px;
    background: #0d0d0d;

    img {
        display: block;
    }
}

.new-arrival-wrapper {
    display: flex;
    gap: 30px;
}

.new-arrival-content {
    position: absolute;
    left: 32px;
    bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--Text, #fafafa);
    font-style: normal;

    .heading {
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.72px;
    }

    .description {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .btn-shop {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}

.new-arrival-right-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .new-arrival-right-bottom-wrapper {
        display: flex;
        gap: 30px;
    }
}

// WishList CSS
.top-wishlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    span {
        color: #000;
        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
    }

    .top {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}
