.line {
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.3;
}

.line.vertical {
    left: unset;
    right: unset;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
}

.line.toLeft {
    right: 100%;
}

.line.toRight {
    left: 100%;
}

.line.white {
    background-color: #fff;
}
