.wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .view-all {
        position: absolute;
        top: -100px;
        right: 0;
        display: flex;
        gap: 8px;
        z-index: 10;
    }

    .change-wrapper {
        position: absolute;
        top: -80px;
        right: 0;
        display: flex;
        gap: 8px;

        .change-prev,
        .change-next {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .arrow-icon {
            position: absolute;
        }
    }
}

.container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}
